* , *::after , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
}
body{
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
    position: relative;
}
ul , ol {
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}
